<script src="https://unpkg.com/scrollreveal@4"></script>
<script scr= "./../../assets/scripts/purecounter.js"></script>
<div class="homeContent" [ngStyle]="{backgroundImage: 'url(./../assets/images/bg-pages.jpg)'}">

    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
        [imageSize]="{width: '100%', height: '60%'}" slideImage="1"></ng-image-slider>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly start" class="padding32" fxLayoutGap='32px'>
        <div class="employers content" fxFlex='33' [ngsReveal]="{delay: 700, reset: true, origin: 'bottom'}">
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
            </span>
            <h1>Employers</h1>
            <p>
                We distinguish ourselves by creating and maintaining an edge over others through commitment 
                to serve our clientele at all levels.
                As a staffing partner we understand your targets and assist you to realize your goals by 
                offering smart and competent workforce to you
                Our team of experts on the service wing is ever ready to offer the right solutions to our clients.  
            </p>
            <p class="iconurl"><a class="themebutton" href="#">Read More</a></p>
        </div>
        <div class="jobSeekers content" fxFlex='33' [ngsReveal]="{delay: 700, reset: true, origin: 'bottom'}">
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">next_week</mat-icon>
            </span>
            <h1>Job Seekers</h1>
            <p>
                We help you secure and optimize the most strategic and variable component to success–your people. We
                begin
                our partnership by seeking to understand your business targets and the gaps between your current and
                future
                state. We then build a workforce staffing strategy to close those gaps with the right people, skills,
                and
                competencies, when and where you need them. We guarantee your complete satisfaction.
            </p>
            <p class="iconurl"><a class="themebutton" href="#">Read More</a></p>
        </div>
        <div class="ourTeam content" fxFlex='33' [ngsReveal]="{delay: 700, reset: true, origin: 'bottom'}">
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">supervisor_account</mat-icon>
            </span>
            <h1>Our Team</h1>
            <p>
                We help you secure and optimize the most strategic and variable component to success–your people. We
                begin
                our partnership by seeking to understand your business targets and the gaps between your current and
                future
                state. We then build a workforce staffing strategy to close those gaps with the right people, skills,
                and
                competencies, when and where you need them. We guarantee your complete satisfaction.
            </p>
            <p class="iconurl"><a class="themebutton" href="#">Read More</a></p>
        </div>
    </div>


    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="aboutHome" fxLayoutGap='32px' [ngsReveal]="{delay: 700, reset: true, origin: 'left'}" >
        <h1>Our History</h1>
        <p>
            Crack IT is a Staffing Services company providing a gamut of Staffing Solutions to various
            businesses and organizations around Canada, helping them improve their business performance through
            cutting-edge technologies. Crack IT was formed with the express purpose to better serve clients with
            effective alternatives to traditional IT services that will leverage global resources, talent, and
            technology. Crack IT’s goal is to be a key partner to customers by providing reliability and quality
            in an offshore environment. Whether you are a small business looking for Human Resources or Payroll ideas,
            or a large company searching for an outsourcing plan to meet your heavy demands, Crack IT Services
            can design and implement a cost-effective solution to any staffing issues you may currently have.

            Crack IT has been connecting top companies throughout the Canada with the expert talent that drives
            their success. We work to ensure that the professionals we deliver have the distinct skills clients are
            looking for to reach their specific goals. Our deep industry expertise and full-service capabilities IT
            staff augmentation, permanent placement, project services, and ERP capabilities enable organizations to be
            agile, productive, and ahead in the field. With our wide network of specialists and flexible solutions,
            we’re always ready to help clients achieve their latest objective and provide them with what they require to
            reach the next one.

            Our Recruiting Team is constantly working to find new and improved ways to attract the employees that
            companies desire and require. Crack IT is committed to providing real, cost-effective solutions to
            your company’s complicated staffing needs.
        </p>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" class="aboutHome" [ngsReveal]="{delay: 700, reset: true, origin: 'left'}"
        fxLayoutGap='32px'>
        <div class="mission">
            <h1>Our Mission</h1>
            <p>
                We help you secure and optimize the most strategic and variable component to success–your people. We
                begin
                our partnership by seeking to understand your business targets and the gaps between your current and
                future
                state. We then build a workforce staffing strategy to close those gaps with the right people, skills,
                and
                competencies, when and where you need them. We guarantee your complete satisfaction.
            </p>
        </div>

        <div class="vision">
            <h1>Our Vision</h1>
            <p>
                We help you secure and optimize the most strategic and variable component to success–your people. We
                begin
                our partnership by seeking to understand your business targets and the gaps between your current and
                future
                state. We then build a workforce staffing strategy to close those gaps with the right people, skills,
                and
                competencies, when and where you need them. We guarantee your complete satisfaction.
            </p>
        </div>
    </div>

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">
  
          <div class="text-center title">
            <h3>What we have achieved so far</h3>
            <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
          </div>
  
          <div class="row counters position-relative">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->
</div>

<!-- Vendor JS Files -->
<script src="./../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="./../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="./../../assets/vendor/php-email-form/validate.js"></script>
<script src="./../../assets/vendor/purecounter/purecounter.js"></script>
<script src="./../../assets/vendor/swiper/swiper-bundle.min.js"></script>