.content {
  text-align: center;
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding: 26px;
  min-height: 25%;
  span {
    display: inline-block;
    background: #000;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    padding: 30px;
  }
  span:hover {
    background: #e7790c;
    mat-icon {
      color: white;
    }
  }
  mat-icon {
    font-size: 42px;
    width: 42px;
    height: 42px;
    color: #fff;
  }
  h1 {
    margin: 16px 0px;
  }
}

.aboutHome {
  padding: 16px 32px;
}
.iconurl {
  a {
    color: #ec9339;
    text-decoration: none;
  }
  a:hover {
    color: #e7790c;
    text-decoration: underline;
  }
}
.homeContent {
  background-color: white;
  margin-bottom: 64px;
}
.mission,
.vision {
  border: 1px solid #efefef;
  padding: 12px;
  background: #fafafa;
}
