.menu-spacer {
    flex: 1 1 auto;
  }
  .mobileMenu a{
    color: inherit;
    display: block;
    text-align: left;
  }
.footer{
  font-size: 14px;
  color : rgb(238, 121, 12) !important;
  border-top: 1px solid #e0e0e0;
  height: 64px !important;
  position: fixed;
  bottom: 0px;
  z-index: 1;
    a {
      text-decoration: none;
      color : rgb(238, 121, 12) !important;
      padding-left: 12px;
    }
}
.mat-toolbar-single-row{
  padding: 0px 32px;
}

// Added CSS for ToolBar
mat-toolbar{
  height: 72px;
  background-color: black !important;
  padding: 0 5px;
  a{
    color : rgb(238, 121, 12) !important;
  
  }
  a:hover{
    color: #fff !important;
  }

}
.mxImg {
  height: 72px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  height: auto;
}