<div>


  <mat-toolbar class='contactSection'>
    <div fxLayout='row' fxLayout.lt-md='column' fxLayoutAlign="space-between center" fxLayoutGap='6px'>
      <div>
        <span></span>
      </div>
      <div fxLayout='row'  fxLayout.lt-md='column' fxLayoutGap.gt-md='12px'>
        <span class="icons">
          <mat-icon>phone</mat-icon>&nbsp; 514-212-0500
        </span>
        <span class="icons">
          <mat-icon>mail</mat-icon>&nbsp; hr@crackitconsultancy.com
        </span>
        <button mat-raised-button color="primary" class="btn" routerLink="/employeeCorner">
          Post a Job
        </button>
      </div>
    </div>

  </mat-toolbar>

  <mat-toolbar color="primary">
    <mat-toolbar-row class="cit-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>

      <!-- logo starts here -->
      <!-- <span>Staffing Service</span> -->
      <img class="mxImg" src="../assets/images/logo-no-bg.png">
      <!-- logo ends here -->
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" routerLink="/home" mat-button>Home</a>
        <a href="#" routerLink="/about" mat-button>About Us</a>
        <a href="#" routerLink="/staffingService" mat-button>Staffing Service</a>
        <!-- <a href="#" routerLink="/employers" mat-button>Employers</a>
        <a href="#" routerLink="/jobSeekers" mat-button>Job Seekers</a>-->
        <a href="#" routerLink="/contactus" mat-button>Contact Us</a> 
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list class="mobileMenu">
        <mat-icon aria-hidden="false" (click)="sidenav.toggle()" aria-label="Example home icon">close</mat-icon>
        <a href="#" routerLink="/home" (click)="sidenav.toggle()" mat-button>Home</a>
        <a href="#" routerLink="/about" mat-button>About Us</a>
        <a href="#" routerLink="/staffingService" mat-button>Staffing Service</a>
        <a href="#" routerLink="/employers" mat-button>Employers</a>
        <a href="#" routerLink="/jobSeekers" mat-button>Job Seekers</a>
        <a href="#" routerLink="/contactus" mat-button>Contact Us</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <router-outlet></router-outlet>


    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="footer">

    <div fxLayout="row" fxLayout.lt-md="column" fxFlex='100' fxLayoutAlign="space-between center">
      <div>
        <span>Copy rights &copy; {{currentYear}} Crack IT</span>
      </div>
      <div fxHide.lt-md>
        <a href="#" routerLink="/home" (click)='onScrollToTop()'>Home</a>
        <a href="#" routerLink="/about" (click)='onScrollToTop()'>About Us</a>
        <a href="#" routerLink="/staffingService" (click)='onScrollToTop()'>Staffing Service</a>
        <a href="#" routerLink="/employers" (click)='onScrollToTop()'>Employers</a>
        <a href="#" routerLink="/jobSeekers" (click)='onScrollToTop()'>Job Seekers</a>
        <a href="#" routerLink="/contactus" (click)='onScrollToTop()'>Contact Us</a>
      </div>
    </div>
  </mat-toolbar>
</div>