/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%;}
body {  font-family: Roboto, "Helvetica Neue", sans-serif;margin: 0; }
p {
    line-height: 26px;
}

.title{
    border: 1px solid #DDD;
        border-top: none;
        background: #F5F5F5;
        padding: 15px 10px;
        margin: 36px;
   
h1{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
}
.mainContent{
    padding: 36px;
    background-color: whitesmoke;
    border-top: 1px solid #DDD;
    margin-bottom: 64px;
}
.padding32{
    padding: 32px;
    display: table;
}
mat-form-field{
    margin-bottom: 16px;
}
.contactLink{
    color: red;
}