/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
p {
  line-height: 26px;
}

.title {
  border: 1px solid #e7790c;
  border-top: none;
  background: #e7790c;
  padding: 15px 10px;
  margin: 36px;

  h1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
}
.mainContent {
  padding: 36px;
  background-color: whitesmoke;
  border-top: 1px solid #ddd;
  margin-bottom: 64px;
  background-image: url(./assets/images/bg-pages.jpg);
}
.padding32 {
  padding: 32px;
  display: table;
}
mat-form-field {
  margin-bottom: 16px;
}
.contactLink {
  color: red;
}
.btn {
  background-color: #e7790c !important;
}

.contents {
  background-color: #e74536;
  padding: 64px;
  color: white;
  p {
    font-size: 64px;
    padding: 24px 0px;
  }
  p:last-child {
    text-align: right;
    color: #0f1941;
  }
}

.txtBld {
  text-align: center;
  width: 100%;
  display: block;
  padding-top: 12px;
}
#counts {
  //   background: url(./assets/images/counts-bg.jpg) center center no-repeat;
  background: #000000;
  padding: 80px 0 60px 0;
  //   background-attachment: fixed;
  //   position: relative;
  //   color: #fff;
  .titled {
    position: relative;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
  }
  .achievement {
    margin-top: 36px;
    color: #fff;
    div {
      text-align: center;
    }
    p {
      color: #e7790c;
      font-weight: 600;
      font-size: 24px;
    }
  }
}
.companies{
    margin-top: 12px;
}
.slick-slide {
	margin: 0 26px;
}
/* the parent */
.slick-list {
	margin: 0 -26px;
}